<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Home</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>15.09.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto blanditiis dicta doloremque eaque
      officia placeat quasi quidem quod, recusandae? Adipisci dolore enim est minus, molestias quae quibusdam quos unde
      velit? A alias atque beatae cupiditate distinctio dolorem dolorum eligendi enim exercitationem id molestias odio
      possimus, sit tempore, ullam voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto blanditiis dicta doloremque eaque
      officia placeat quasi quidem quod, recusandae? Adipisci dolore enim est minus, molestias quae quibusdam quos unde
      velit? A alias atque beatae cupiditate distinctio dolorem dolorum eligendi enim exercitationem id molestias odio
      possimus, sit tempore, ullam voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto blanditiis dicta doloremque eaque
      officia placeat quasi quidem quod, recusandae? Adipisci dolore enim est minus, molestias quae quibusdam quos unde
      velit? A alias atque beatae cupiditate distinctio dolorem dolorum eligendi enim exercitationem id molestias odio
      possimus, sit tempore, ullam voluptas!</p>
  </div>
</div>
